.footer {
    height: 5rem;
    padding: 0 1rem;
    width: 100%;
    border-top: solid black .2rem;
    background-color: #FFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.icons_container {
    padding: 0 1rem;
    display: flex;
    gap: 1rem;
}