.main {
    width: 100%;
    height: 100%;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back_btn {
    background-color: #cce3de;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    width: 10rem;
    transition: all 0.3s ease-in-out;
    font-size: 1rem;
    font-weight: bold;
}

.back_btn:hover {
    transform: scale(1.05, 1.05);
    background-color: black;
    color: #cce3de;
    cursor: pointer;
}

.backBtn_container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0 3rem;
}