* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  min-height: 100%;
  position: relative;
  width: 100%;
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

input {
  background-color: transparent;
  border: 0.1rem solid #f6fff8;
  padding: 1rem;
  color: #f6fff8;
  margin-bottom: 1rem;
  width: 100%;
}
input::placeholder {
  color: #f6fff8;
}

input:focus {
  outline: none;
}

label {
  padding-bottom: 0.5rem;
}

.password_input {
  border: transparent;
  margin-bottom: 0;
}

.password_show {
  border: solid 0.1rem;
  display: flex;
  align-items: center;
  padding-right: 0.3rem;
}

.show_button {
  background: none;
  border: none;
  color: #f6fff8;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select {
  min-height: 2rem;
  padding: 0 1rem;
  background-color: #f6fff8;
  border: none;
  border-radius: 1rem;
}
